.main {
    height: 100vh;
}
.sidebar {
    background: rgba(18, 18, 18, 0.645);
}
/* .sidebar ul {
    list-style: none;
} */
.sidebar a {
    /* background: black; */
    color: white;
    display: block;
    padding: 15px 10px;
    text-decoration: none;
}
.sidebar a:hover {
    background: black;
    color: white;
}
.active {
    background: black;
    border-right: solid 5px wheat;
}
.card-data {
    border: solid 1px black;
    padding: 20px 30px;
}
.card-data i {
    font-size: 50px;
}
.dex {
    font-size: 30px;
}
.jumlah {
    font-size: 30px;
}
